<<h1>文章列表</h1>>
    <ul>
        {% for cate in nav_cates %}
        <li>
            <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <hr />

    <ul>
        {% if posts %}
            {% for post in posts %}
            <li>
                title: <a href="{% url 'detail' post.id %}">{{ post.title }}</a> <br />
                dec: {{ post.dec }}
            </li>
            {% endfor %}
            <hr />
            {% if posts.has_previous %}<a href="?page={{ posts.number|add:'-1' }}">上一页</a>{% endif %}
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            {% if posts.has_next %}<a href="?page={{ posts.number|add:'1' }}">下一页</a>{% endif %}
            {% else %}
                Empty!!
        {% endif%}
    </ul>
    <hr />
    <ul>
        {% for cate in not_nav_cates %}
        <li>
            <a href="{% url 'category' cate.id %}">{{ cate.name }}</a>
        </li>
        {% endfor %}
    </ul>